:root {
    --primary-color: #f72585;
    --segondary-color: #b5179e;
    --third-color: #7209B7;
    --fourth-color: #3a0ca3;
    --fifth-color: #3f34c9;
    --sixth-color: white;
    --seventh-color: #4CC9F0;
    --eighth-color: #4895EF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(165deg, var(--primary-color), var(--third-color));
}

main {
    height: 80vh;
}



@keyframes zoomSpam {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(3);
    }
}

.image-qui-grandit {
    position: absolute;
    animation: zoomSpam 5s forwards;
    transform-origin: center;
}