:root {
        --background-color-1: #b5179e;
        --background-color-2: #7209b7;
        --background-color-3: #3a0ca3;
        --font-family: Arial, Helvetica, sans-serif;
        --font-color: white;
        --border-color: white;
        --font-size-title: 2rem;
        --background-article: rgba(217, 217, 217, 35%);
        --size-article: 35rem;
        --border-radius-img: 5.5rem;
        --height-ban: 59rem;
    }
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(165deg, var(--background-color-1), var(--background-color-2), var(--background-color-3))
}
.ban  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: var(--height-ban);
}
.triangle {
    width: 30%;
    position: absolute;
    top: 37px;
    z-index: 3;
}
.sun{
    width: 35%;
    position: absolute;
    top: 36px;
    z-index: 2;
}
.neonGrid{
    width: 100%;
    position: absolute;
    top: -10vw;
    filter: brightness(2.15);
    z-index: 1;
}
.retro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--size-article);
    background: var(--background-article);
}
.slideRetro {
    width: 517px;
    height: 360px;
    overflow: hidden;
    border-radius: var(--border-radius-img);
}
.slide {
    display: flex;
    transition: transform 0.6s ease;
}
.computer {
    width: 517px;
    height: 360px;
    object-fit: cover;
}
.retDescription {
    width: 36rem;
    display: flex;
    flex-direction: column;
}
.titleRetro {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: var(--font-size-title);
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--font-color);
}
.description {
    padding-top: 1.5rem;
    font-family: var(--font-family);
    color: var(--font-color);
}
.inter {
    height: 5rem;
}
.retarcade {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: var(--size-article);
    background: var(--background-article);
}
.arcade {
    width: 25%;
    transform: scaleX(-1);
}
.tab{
    padding-left: 1rem;
    font-family: var(--font-family);
    color: var(--font-color);
}
.liRetro {
    padding-left: 1rem;
    list-style: none;
    font-family: var(--font-family);
    color: var(--font-color);
}
.retconsole {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--size-article);
    background: var(--background-article);
}
.sliderRetro {
    width: 31.25rem;
    height: 17.5625rem;
    border-radius: var(--border-radius-img);
    overflow: hidden;
    position: relative;
}
.consoleBefore, .consoleAfter {
    width: 31.25rem;
    height: 17.5625rem;
    object-fit: cover;
    position: absolute;
    transition: opacity 1000ms ease;
    top: 0;
    left: 0;
}
.consoleBefore {
    z-index: 2;
    transition: opacity 1000ms ease;
}
.consoleAfter {
    z-index: 1;
}
.retimages {
    position: relative;
    min-height: var(--size-article);
    background: var(--background-article);
}
.first {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 10px;
}
.second {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 10px;
}
.imageGame {
    height: 15rem;
    width: 21rem;
    border:  0.5rem solid var(--border-color);
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}
.game {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}
.game:hover {
    transform: scale(1.1);
}
.popupImage {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.time {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--font-color);
    cursor: pointer;
    z-index: 100;
}
.imagePop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--font-color);
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    
    .triangle {
        width: 55%;
        top: 20vw;
    }
    .sun {
        width: 65%;
        top: 20vw;
    }
    .neonGrid {
        top: 32vw;
    }
    .retro {
        position: relative;
        top: -36rem;
        flex-direction: column-reverse;
        height: 65rem;
    }
    .retDescription {
        width: 20rem;
        align-items: center;
    }
    .slideRetro {
        width: 90%;
    }
    .retarcade {
        position: relative;
        top: -36rem;
        flex-direction: column;
        height: 45rem;
    }
    .retconsole {
        flex-direction: column-reverse;
        min-height: var(--size-article);
        height: 45rem;
        position: relative;
        top: -36rem;
    }
    .sliderRetro, .consoleBefore, .consoleAfter {
        width: 22.25rem;
    }
    .retimages {
        position: relative;
        top: -36rem;
        height: 90rem;
    }
    .titleRetro {
        padding: 2rem;
    }
    .imagePop {
        width: 95%;
    }
    .arcade {
        width: 15rem;
    }
}

