:root {
        --background-color-1: #b5179e;
        --background-color-2: #7209b7;
        --background-color-3: #3a0ca3;
        --font-family: Arial, Helvetica, sans-serif;
        --font-color: white;
        --font-size-title: 2rem;
        --background-article: rgba(217, 217, 217, 35%);
        --size-article: 35rem;
        --border-radius-img: 5.5rem;
        --height-ban: 59rem;
    }
* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(165deg, var(--background-color-1), var(--background-color-2), var(--background-color-3))
}
.ban  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: var(--height-ban);
}
.triangle {
    width: 30%;
    position: absolute;
    top: 37px;
    z-index: 3;
}
.sun{
    width: 35%;
    position: absolute;
    top: 36px;
    z-index: 2;
}
.neonGrid{
    width: 100%;
    position: absolute;
    top: -10vw;
    filter: brightness(2.15);
    z-index: 1;
}
.retro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--size-article);
    background: var(--background-article);
}
.slideRetro {
    width: 517px;
    height: 360px;
    overflow: hidden;
    border-radius: var(--border-radius-img);
}
.slide {
    display: flex;
    transition: transform 0.6s ease;
}
.computer {
    width: 517px;
    height: 360px;
    object-fit: cover;
}
.retDescription {
    width: 36rem;
    display: flex;
    flex-direction: column;
}
.titleRetro {
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: var(--font-size-title);
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--font-color);
}
.description {
    padding-top: 1.5rem;
    font-family: var(--font-family);
    color: var(--font-color);
}
.inter {
    height: 3rem;
}
.retarcade {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: var(--size-article);
    background: var(--background-article);
}
.arcade {
    width: 25%;
    transform: scaleX(-1);
}
.tab{
    padding-left: 1rem;
    font-family: var(--font-family);
    color: var(--font-color);
}
.liRetro {
    padding-left: 1rem;
    list-style: none;
    font-family: var(--font-family);
    color: var(--font-color);
}
.retconsole {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--size-article);
    background: var(--background-article);
}
.sliderRetro {
    width: 500px;
    height: 281px;
    border-radius: var(--border-radius-img);
    overflow: hidden;
    position: relative;
}
.consoleBefore, .consoleAfter {
    width: 500px;
    height: 281px;
    object-fit: cover;
    position: absolute;
    transition: opacity 1000ms ease;
    top: 0;
    left: 0;
}
.consoleBefore {
    z-index: 2;
    transition: opacity 1000ms ease;
}
.consoleAfter {
    z-index: 1;
}
.retimages {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: var(--size-article);
    background: var(--background-article);
}
.game {
    width: 12%;
}
.first {
    display: flex;
    justify-content: space-around;
}
.second {
    display: flex;
    justify-content: space-around;
}
